$bg-color: #f8f8f8; // 大背景
$title: #303133;
$info: #909399;
$nothink: #C0C4CC;
$border: #EBEEF5;

$wx_btn-color: #06AD56;
$wx_bg-color: #06AD56;
$wx_font-color: #06AD56;



$ali_font-color: #409EFF;


$client_info_fontsize: 24px;
